.orange {
	color: orange;
}

.profile {
	position: relative;
	width: 300px;
	text-align: center;
	padding: 1rem;
	background-color: #ebebeb;
	border-radius: 20px;
	margin-bottom: 1rem;
	box-shadow: 4px 9px 20px -1px rgba(0,0,0,0.38);
	-webkit-box-shadow: 4px 9px 20px -1px rgba(0,0,0,0.38);
	-moz-box-shadow: 4px 9px 20px -1px rgba(0,0,0,0.38);
}

.photo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.tag {
	position: absolute;
	top: 10%;
	right: 15%;
	padding: .2rem .5rem;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: .5rem;
}

.tag.new {
	background-color: aquamarine;
}